@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "微软雅黑";
	position: relative;
	background: #ffffff;
	font-size:16px;
	color: #333;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor:pointer;
}
/* 
a:hover {
	text-decoration: none;
} */

table {
	width: 100%;
	border-collapse: collapse;
}

input,
textarea,
select {
	outline: none;
	border: none;
	padding-left:10px;
}

a {
	text-decoration: none;
	color: #333;
	cursor:pointer;
}

textarea {
	resize: none;
	overflow: auto;
}

img {
	border: none;
	vertical-align: middle;
}

i,
em {
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.block{
	display: block !important; 
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}



.header{
	border-bottom: 2px solid #036FBB;
}
.header_center{
	width: 1200px;
	margin: 0 auto;
	line-height: 106px;
}
.logo{
	width:357px;
}
.logo_line{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
	width: 1px;
	height: 37px;
	line-height: 37px;
	background: #496197;
	position: relative;
	box-shadow: 1px 1px 0 #BCBCBC;
}
.header_center span{
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	color: #888888;
	line-height: 26px;
}
.l_logintip{
	float: right;
	margin-top: 70px;
	line-height: normal;
	font-size: 16px;
	color: #000000;
}
.l_logintip img{
	margin-top: -3px;
}
.l_logintip a{
	color: #32539C;
	text-decoration: underline;
}
.footer{
	padding: 33px 0;
}
.footer p{
	text-align: center;
	font-size: 16px;
	color: #888888;
	line-height: 30px;
}
.footer p span{
	margin: 0 15px;
}
.footer p a{
	margin: 0 15px;
	color: #32539C;
	text-decoration: underline;
}





/*--------------------------注册lmx*/
.middle{
	width: 1200px;
	margin: 0 auto;
	background: url(../images/regist-bg.png) repeat top center;
	background-size: 100% 100%;
	padding: 26px 0;
}
.registDiv{
	width: 1107px;
	margin: 0 auto;
	border-radius: 10px;
	background: #FFFFFF;
	padding-top: 19px;
}
.step{
	font-size: 0;
	text-align: center;
}
.step span{
	display: inline-block;
	width: 304px;
	height: 41px;
	line-height: 41px;
	font-size: 18px;
	color: #999999;
	text-align: center;
}
.step span:nth-of-type(2),.step span:nth-of-type(3){
	margin-left: -9px;
}
.step span i{
	font-style: italic;
	margin-right: 10px;
}
.step span{
	background: url(../images/step-normal.png) no-repeat center;
	background-size: 100% auto;
	color: #FFFFFF;
}
.step span:nth-of-type(1).step_active{
	background: url(../images/step-active1.png) no-repeat center;
	background-size: 100% auto;
	color: #FFFFFF;
}
.step span:nth-of-type(2).step_active{
	background: url(../images/step-active2.png) no-repeat center;
	background-size: 100% auto;
	color: #FFFFFF;
}
.step span:nth-of-type(3).step_active{
	background: url(../images/step-active3.png) no-repeat center;
	background-size: 100% auto;
	color: #FFFFFF;
}

.step span:last-of-type{
	background: url(../images/step-last.png) no-repeat center;
	background-size: 100% auto;	
}
.joinTip{
	margin: 0 25px;
	line-height: 56px;
	font-size: 16px;
	color: #999999;
	border-bottom: 1px dashed #E3E3E3;
	padding-left: 87px;
}
.joinTip img{
	margin: -3px 5px 0 0;
}
.joinTip a{
	color: #1B8ACF;
}
.regist_left{
	float: left;
	width: 705px;
	padding-left: 168px;
	padding-top: 13px;
}
.l_registCont{
	margin-bottom: 17px;
}
.l_registCont>span{
	float: left;
	width: 110px;
	text-align: right;
	padding-right: 10px;
	line-height: 37px;
	font-size: 16px;
	height: 37px;
}
.l_registBlank{
	float: left;
	line-height: 37px;
	position: relative;
	width:calc(100% - 110px);
}
.l_registBlank label{
	margin-right: 22px;
	font-size: 16px;
}
.l_registBlank label input{
	margin-right: 3px;
	vertical-align: middle;
	margin-top: -3px;
	font-size: 16px;
}
.l_registBlank input{
	height: 37px;
	line-height: 35px;
	border: 1px solid #B5B5B5;
}
.l_registBlank input[type=radio] {
	height: 37px;
	line-height: 35px;
	border: 0px solid #B5B5B5;
}
.l_registBlank input[type=checkbox] {
	height: 37px;
	line-height: 35px;
	border: 0px solid #B5B5B5;
}
.width322{
	width: 322px;
}
.l_phoneBegin{
	position: absolute;
	top: 5px;
	font-size:16px;
	text-align: center;
	color: #888888;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #B5B5B5;
}
.l_phoneBegin+input{
	padding-left: 70px;
}
.l_link{
	font-size: 14px;
	color: #0374BF;
	text-decoration: underline;
	display: block;
	margin-left: 265px;
	line-height: normal;
	margin-top: 13px;
}
.width167{
	width: 167px;
}
.l_code{
	margin-left: 5px;
	border: 1px solid #DFDFDF;
	width: 145px;
}
.l_getCode{
	display: inline-block;
	width: 145px;
	height: 37px;
	line-height: 37px;
	border-radius: 5px;
	background: #1097f0;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 5px;
}
.l_protocol{
	line-height: 37px;
	font-size:16px;
}
.l_protocol a{
	color: #036FBB;
	text-decoration: underline;
}
.l_protocol input{
	vertical-align: middle;
	margin:-3px 3px 0 0;
}
.l_reigstBtn{
	display: block;
	width: 330px;
	height: 37px;
	line-height: 37px;
	border-radius: 5px;
	background:#1097f0;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}
.regist_right{
	margin-top: 60px;
	border-left: 1px solid #CCCCCC;
	padding-bottom: 80px;
}
.regist_right{
	float: left;
}
.l_memberIntro{
	padding: 9px 0 22px 28px;
}
.l_memberIntro li{
	font-size: 14px;
	line-height: 25px;
}
.l_memberIntro .l_ulTitle{
	list-style: square;
	font-size: 16px;
	color: #10285B;
	line-height: 28px;
}
.l_memberIntro .l_smallTip{
	color: #999999;
}
.l_memberRight_outer{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgba(0,0,0,.63);
	display: none;
}
.l_memberRight{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	margin: auto;
	width: 1176px;
	height: 90%;
	border-radius: 9px;
	background: #FFFFFF;
}
.l_memberNavig{
	height: 54px;
	line-height: 54px;
	padding:0 20px;
	box-shadow: 0 0 18px rgba(17,60,99,.35);
	font-size: 18px;
}
.l_popClose{
	float: right;
	width: 19px;
	margin-top: 17px;
	cursor: pointer;
}
.l_memberCont{
	height: calc(100% - 54px);
	overflow: auto;
	padding-bottom: 26px;
}
.l_member_ul{
	display: flex;
	margin: 24px auto 0;
	width: 1115px;
	height: 55px;
	line-height: 55px;
	background: url(../images/member-bg1.png) no-repeat center;
	background-size: 100% 100%;
	box-shadow: 0 3px 10px rgba(81,81,81,.16);
}
.l_member_ul.l_member_ulright{
	background: url(../images/member-bg2.png) no-repeat center;	
	background-size: 100% 100%;
}
.l_member_ul li{
	flex: 1;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #666666;
	cursor: pointer;
}
.l_member_ul li.active{
	color: #FFFFFF;
}
.l_memberCont table{
	width:1113px;
	margin:0 auto;
	text-align: center;
}
.l_tableMsg{
	margin: 0 16px;
}
.l_tableMsg i{
	color: #BF0B0B;
	font-weight: bold;
}
.l_ccfperson td,.l_ccfperson th{
	border: 1px solid #FFCB31;
	line-height: 30px;
	font-size: 16px;
	padding: 10px;
}
.l_ccfperson thead tr:nth-of-type(2){
	background: #FCE6B0;
	color: #F48400;
}
.l_ccfperson tbody tr:nth-of-type(even){
	background: #FCE6B0;
}
.l_ccfperson tbody tr td:last-of-type{
	width: 345px;
}
.l_ccfperson tbody tr td:nth-last-of-type(2){
	width: 235px;
}
.l_ccfperson td span{
	display: block;
	line-height: normal;
	word-break: break-all;
}
.l_ccfperson tr td.l_firsttd{
	text-align: center;
	background: #FFFFFF;
	width: 125px;
}
.l_ccfperson tr td.l_txtalign{
	text-align: center;
}



.l_ccforg tr:first-of-type td{
	border-top: 0;
}
.l_ccforg td{
	border: 1px solid #86D5FA;
	line-height: 30px;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}
.l_ccforg tbody tr:nth-of-type(even){
	background: #D5F1FF;
}
.l_ccforg td span{
	display: block;
	line-height: normal;
	word-break: break-all;
}
.l_ccforg tr td{
	width: 22%;
}
.l_ccforg tr td.l_firsttd{
	text-align: center;
	background: #FFFFFF;
	width: 125px;
}


/*------------------------------交费 lmx*/
.l_paymentDiv{
	width: 970px;
	margin: 22px auto 0;
	background: #F8FBFC;
	font-size: 0;
	border:1px solid #EEEEEE;
	border-bottom: none;
}
.l_payment{
	border-bottom:1px solid #EEEEEE;
}
.l_payment>span{
	display: inline-block;
	vertical-align: middle;
	width: 191px;
	font-size: 16px;
	color: #666666;
	min-height: 50px;
	padding: 15px 0 14px;
	text-align: center;
}
.l_payment>span font{
	display: block;
	line-height: normal;
}
.l_payment>div{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 191px);
	min-height: 50px;
	line-height: 50px;
	background: #FFFFFF;
	border-left:1px solid #EEEEEE;
	font-size: 16px;
	color: #666666;
}
.l_payment>div input[type=text]{
	height: 36px;
	border-radius: 3px;
	border: 1px solid #E0E2E9;
	background: #F8FBFC;
	font-size: 16px;
}
.l_width288{
	width: 288px;
}
.l_paymentDetail th,.l_paymentDetail td{
	font-weight: normal;
	text-align: center;
	height: 43px;
	line-height: 43px;
	border: 1px solid #EEEEEE;
	color: #333333;
}
.l_paymentDetail th{
	border-top: none;
}
.l_paymentDetail tr td:first-of-type,.l_paymentDetail th:first-of-type{
	border-left: none;
}
.l_paymentDetail tr td:last-of-type,.l_paymentDetail th:last-of-type{
	border-right: none;
}
.l_paymentDetail tr:last-of-type td{
	border-bottom: none;
}
.l_marleft37{
	margin-left: 37px;
}
.l_payment>div label{
	margin-left: 17px;
	color: #333333;
}
.l_peymentTip{
	color: #A3A3A3;
	margin-left: 20px;
}
.l_leaveMsg{
	width: 693px;
	height: 78px;
	line-height: 30px;
	border-radius: 3px;
	border: 1px solid #E0E2E9;
	background: #F8FBFC;
	margin-top: 15px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.l_leaveMsg::-webkit-input-placeholder{
	color: #A3A3A3;
}
.l_leaveMsg::-moz-input-placeholder{
	color: #A3A3A3;
}
.l_leaveMsg:-ms-input-placeholder{
	color: #A3A3A3;
}
.l_btns{
	padding: 13px 0;
	text-align: center;
}
.l_btns a{
	display: inline-block;
	min-width: 198px;
	height: 41px;
	line-height: 41px;
	border-radius: 3px;
	background: #2481D4;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	margin:0 20px;
}
/*---------------------------交费结束lmx*/
/*---------------------------交费信息确认开始 lmx*/
.l_surePayment{
	width: 1000px;
	margin: 35px auto 20px;
	border: 1px dashed #D7D7D7;
	background: #F7F9FB;
	padding: 0 30px;
}
.l_surePayment h3{
	line-height: 55px;
	border-bottom: 1px dashed #D2D2D2;
	font-size: 20px;
}
.l_surePayment h3 img{
	margin-top: -3px;
	margin-right: 10px;
}
.l_surePayment_msg{
	padding: 20px 0;
	font-size: 16px;
	color: #393737;
	font-size: 0;
}
.l_surePayment_msg span{
	line-height: 20px;
	padding: 10px 0;
	vertical-align: top;
	font-size: 16px;
}
.l_surePayment_msg .l_msgLeft{
	display: inline-block;
	width: 115px;
	text-align: right;
	color: #666666;
}
.l_surePayment_msg span:nth-of-type(2){
	display: inline-block;
	width: calc(100% - 115px);
}
/*----------------------缴费信息确认结束 lmx*/
/*----------------------缴费成功开始 lmx*/
.l_paymentMsg p{
	float: left;
	width: 50%;
}
.l_paymentMsg p .l_msgLeft{
	width: auto;
}
.l_successMsg{
	width: 1000px;
	margin: 20px auto;
	border: 1px solid #DBDBDB;
}
.l_successMsg h3{
	text-align: center;
	font-size: 22px;
	color: #050303;
	padding: 25px 0;
}
.l_successMsg h3 img{
	margin-top: -3px;
	margin-right: 10px;
}
.l_successMsg p{
	text-align: center;
	font-size: 30px;
	padding: 15px 0;
}
.l_successMsg p a{
	display: inline-block;
	width: 210px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	background: #1B8ACF;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	margin-top: -3px;
}
.l_nextTip{
	display: block;
	text-align: center;
	font-size: 17px;
	color: #262626;
	padding: 25px 0;
}
.l_nextTip b{
	color: #CE0101;
}
/*----------------------缴费成功结束 lmx*/
/*----------------------补充个人信息开始 lmx*/
.l_perMsg_Div{
	width: 1065px;
	margin: 25px auto 0;
	border:1px solid #EEEEEE;
	font-size: 0;
}
.l_perMsg_Div>div{
	background: #F8FBFC;
	border-bottom: 1px solid #EEEEEE;
}
.l_perMsg_Div>div:last-of-type{
	border-bottom: none;
}
.l_perMsg_Div div.l_halfDiv{
	width: 50%;
	display: inline-block;
}
.l_perMsg_Div div.l_halfDiv:nth-of-type(2n+1){
	border-right: 1px solid #EEEEEE;
}
.l_perMsg_Div>div>span,.l_perMsg_Div div.l_halfDiv>span{
	display: inline-block;
	width: 162px;
	line-height: 50px;
	font-size: 16px;
	padding-right: 40px;
	text-align: right;
	vertical-align: middle;
}
.l_red{
	font-size: 14px;
	color: #E40000;
	margin-right: 5px;
}
.l_fileBlank{
	display: inline-block;
	width: calc(100% - 162px);
	padding: 11px 0 11px 15px;
	background: #fff;
	vertical-align: middle;
	line-height: 24px;
	border-left: 1px solid #EEEEEE;
	font-size: 0;
	position: relative;
}
.l_fileBlank font{
	font-size: 16px;
}
.l_fileBlank label{
	margin-right: 18px;
	font-size: 16px;
}
.l_halfDiv .l_fileBlank label{
	margin-right: 4px;
}
.l_fileBlank label input{
	/* width: 15px;
	height: 15px; */
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 10px;
	padding: 0;
}
.l_fileBlank input[type=text]{
	height: 30px;
	line-height: 28px;
	border-radius: 4px;
	background: #F7F7F7;
	border: 1px solid #E5E5E5;
	font-size: 16px;
	vertical-align: top;
}
.l_fileBlank select{
	height: 30px;
	line-height: 28px;
	border-radius: 4px;
	background: #F7F7F7;
	border: 1px solid #E5E5E5;
	vertical-align: top;
	font-size: 16px;
	margin-right: 7px;
	font-family: "微软雅黑";
}
.l_width117{
	width: 117px;
}
.l_width490{
	width: 490px;
}
.l_width214{
	width: 214px;
}
.l_msgTip{
	display: block;
}
.l_msgTip{
	display: block;
	font-size: 14px;
	color: #999999;
	padding-top: 15px;
}
.l_fileBlank textarea{
	display: block;
	width: 98%;
	height: 58px;
	line-height: 26px;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-right: 15px;
	border: 1px solid #E5E5E5;
	background: #F7F7F7;
}
.l_activity_h3{
	width: 1065px;
	margin: 0 auto;
	line-height: 60px;
	padding-left: 30px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	font-size: 16px;
	color: #000000;
}
.l_activity_ul{
	width: 1065px;
	margin: 0 auto;
	border: 1px solid #E6E6E6;
}
.l_activity_ul li{
	float: left;
	width: 25%;
	padding-left: 20px;
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	padding: 13px 0 13px 20px;
	font-size: 16px;
}
.l_activity_ul li:nth-of-type(4n){
	border-right: none;
}
.l_activity_ul li:nth-last-of-type(1),
.l_activity_ul li:nth-last-of-type(2),
.l_activity_ul li:nth-last-of-type(3),
.l_activity_ul li:nth-last-of-type(4){
	/*border-bottom: none;*/
}
.l_activity_ul li input[type=checkbox]{
	margin-right: 10px;
}
.l_activity_ul li span{
	display: inline-block;
	vertical-align: top;
}
.l_showAddr{
	cursor: pointer;
}
.l_addrTip{
	position: absolute;
	top: 40px;
	left: 280px;
	width: 415px;
	height: 183px;
	padding-top: 30px;
	padding-left: 14px;
	background: url(../images/icon-addr.png) no-repeat top center;
	z-index: 200;
	display: none;
}
.l_addrTip p{
	line-height: 28px;
	font-size: 14px;
	color: #666666;
}



/*------------------补充信息跳转开始*/
.middle_top{
	width: 600px;
	height: 135px;
	line-height: 150px;
	margin: 0 auto;
	font-size: 20px;
	color: #393737;
	font-weight: bold;
	margin-left: 230px;
}
.middle_top img{
	margin-right: 15px;
	margin-top: -5px;
}
.middle_top a{
	color: #1b8acf;
	text-decoration: underline;
}
.middle_middle{
	width: 500px;
	line-height: 50px;
	margin: 0 auto;
	font-size: 16px;
	color: #333;
}
.middle_bottom{
	width: 500px;
	display: inline-block;
	padding-left: 50px;
}
.middle_bottom li{
	width: 100%;
	float: left;
	height: 40px;
	line-height: 40px;
}
.middle_bottom img{
	margin-right: 10px;
	width: 20px;
	height: 17px;
}
.suggest{
	margin-left: 90px;
}
.lastTime{
	margin-left: 10px;
}
.error{/* height:14px; */line-height:14px;font-size: 15px;color:#ff000c}
/*------------------补充信息跳转结束*/




/*--------------2019-8-26  lmx  补充个人信息 添加邮箱*/
.l_changeEmail{
		position: absolute;
		width: 57px;
		height: 30px;
		line-height: 30px;
		background: #1D8ACF;
		color: #FFFFFF;
		font-size: 16px;
		text-align: center;
		left: 227px;
		border-radius: 0 4px 4px 0;
		cursor: pointer;
}
.l_email_input{
	padding: 27px 0 25px;
	margin: 0 14px;
	border-bottom: 1px solid #EEEEEE;
}
.l_email_input>div{
	padding: 9px 0;
	text-align: center;
}
.l_email_span{
	display: inline-block;
	vertical-align: top;
	width: 68px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 16px;
}
.l_email_right{
	display: inline-block;
	width: 357px;
	text-align: left;
}
.l_email_input input[type=text]{
	height: 30px;
	padding: 4px 0 4px 15px;
	line-height: 20px;
	border: 1px solid #E5E5E5;
	background: #F7F7F7;
	border-radius: 4px;
	font-size: 16px;
}
.l_changeContact{
		position: absolute;
		width: 57px;
		height: 30px;
		line-height: 30px;
		background: #1D8ACF;
		color: #FFFFFF;
		font-size: 16px;
		text-align: center;
		left: 227px;
		border-radius: 0 4px 4px 0;
		cursor: pointer;
}
.l_email_input{
	padding: 27px 0 25px;
	margin: 0 14px;
	border-bottom: 1px solid #EEEEEE;
}
.l_email_input>div{
	padding: 9px 0;
	text-align: center;
}
.l_email_span{
	display: inline-block;
	vertical-align: top;
	width: 68px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 16px;
}
.l_email_right{
	display: inline-block;
	width: 357px;
	text-align: left;
}
.l_email_input input[type=text]{
	height: 30px;
	padding: 4px 0 4px 15px;
	line-height: 20px;
	border: 1px solid #E5E5E5;
	background: #F7F7F7;
	border-radius: 4px;
	font-size: 16px;
}
.width357{
	width: 357px;
}
.width231{
	width: 231px;
}
.l_getEcode{
	float: right;
	width: 116px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	background: #1B8ACF;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}
.l_getEcode_1{
	float: right;
	width: 116px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	background: #1B8ACF;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}
/*------------------补充信息跳转结束*/
.l_typeedit{
	display: inline-block;
    min-width: 75px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background: #2481D4;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 20px;
}

.wp-box{margin-top: 20px;overflow: hidden;}
.wp-box table{width: 970px;border-left: 1px solid #ddd;border-top:1px solid #ddd;margin-bottom: 20px;}
.wp-box table tr td{line-height:42px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.wp-box table tr td:nth-child(odd){color:#34495e;text-align:center!important;padding: 0!important;}
.wp-list{margin-left: 0px;position: relative;}
.wp-list ul li{line-height: 26px;height: 26px;font-size:14px;color: #666;padding-left: 5px;padding-right: 5px;cursor:pointer}
.wp-list ul li:hover{background:#E8F4FC;cursor:pointer}
.wp-list{border:1px solid #ddd; min-width: 235px;margin-top: -1px; position:absolute;background: #fff;min-height:26px;max-height: 260px;overflow: auto;}
.wp-list ul li.active{background: #E8F4FC;}
.wp-list ul li.active{background: #E8F4FC;}


.clearfix1 {
	zoom: 1;
}
.clearfix1:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}
.step1{
	font-size: 0;
	overflow: hidden;
	text-align: center;
}
.step1 span{
	display: inline-block;
	width: 304px;
	height: 41px;
	line-height: 41px;
	font-size: 18px;
	color: #999999;
	text-align: center;
}
.step1 span:nth-of-type(2),.step span:nth-of-type(3){
	margin-left: -9px;
}
.step1 span i{
	font-style: italic;
	margin-right: 10px;
}
.step1 span{
	background: url(../images/step-normal.png) no-repeat center;
	background-size: 100% 100%;
	color: #FFFFFF;
}
.step1 span:nth-of-type(1).step_active1{
	background: url(../images/step-active1.png) no-repeat center;
	background-size: 100% 100%;
	color: #FFFFFF;
}
.step1 span:nth-of-type(2).step_active1{
	background: url(../images/step-active2.png) no-repeat center;
	background-size: 100% 100%;
	color: #FFFFFF;
}
.step1 span:nth-of-type(3).step_active1{
	background: url(../images/step-active3.png) no-repeat center;
	background-size: 100% 100%;
	color: #FFFFFF;
}
.step1 span:last-of-type{
	background: url(../images/step-last.png) no-repeat center;
	background-size: 100% 100%;	
}
.step1 span:first-child{
	width: 210px;
}
.step1 span:nth-child(2){
	width: 230px;
}
.step1 span:nth-child(3){
	width: 205px;
}
.step1 span:last-child{
	width: 260px;
}
.middle_top > span{
	display: inline-block;
	max-width: 85%;
	vertical-align: middle;
	line-height: 30px;
}

@media screen and (max-width: 750px) {
	.header_center {
		width: 100%;
		margin: 0 auto;
		line-height: 1.06rem;
		overflow: hidden;
	}
	.logo {
		width: 52%;
	}
	.logo_line {
		display: inline-block;
		vertical-align: middle;
		margin: 0 .2rem;
		width: 1px;
		height: .37rem;
		line-height: .37rem;
		background: #496197;
		position: relative;
		box-shadow: 1px 1px 0 #BCBCBC;
	}
	.header_center span {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.3rem;
		color: #888888;
		line-height: .26rem;
	}
	/*支付成功页面*/
	.middle {
		width: 100%;
		margin: 0 auto;
		background: url(../images/regist-bg.png) repeat top center;
		background-size: 100% 100%;
		padding: .26rem 0;
	}
	.registDiv {
		width: 96%;
		margin: 0 auto;
		border-radius: 10px;
		background: #FFFFFF;
		padding-top: .19rem;
		padding-bottom: .7rem!important;
	}
	.step span {
		display: inline-block;
		width: 31%;
		height: .61rem;
		line-height: .61rem;
		font-size: .28rem;
		color: #999999;
		text-align: center;
		background-size: 100% 100%!important;
	}
	.step span:nth-of-type(2), .step span:nth-of-type(3){
		margin-left: 0rem;
	}
	.step1 span {
		display: inline-block;
		width: 48%!important;
		height: .61rem;
		line-height: .61rem;
		font-size: .28rem;
		color: #999999;
		margin-bottom: .2rem;
		text-align: center;
		background-size: 100% 100%!important;
	}
	.step1 span:nth-child(3){
		width: 40%!important;
	}
	.step1 span:nth-child(4){
		width: 54%!important;
	}
	.step1 span:nth-of-type(2), .step1 span:nth-of-type(3){
		margin-left: 0rem;
	}
	.layui-layer{
		width: 80%!important;
		left: 10%;
	}
	.l_width288 {
		width: 83%;
	}
	.l_payment>div input[type=text] {
		height: 36px;
		border-radius: 3px;
		border: 1px solid #E0E2E9;
		background: #F8FBFC;
		font-size: .26rem;
	}
	.updateMember label {
		margin: 0 20px 0 76px!important;
		display: block!important;
	}
	.l_surePayment {
		width: 90%;
		margin: .35rem auto .20rem;
		border: 1px dashed #D7D7D7;
		background: #F7F9FB;
		padding: 0 .30rem;
	}
	.l_surePayment_msg {
		padding: .20rem 0;
		font-size: 16px;
		color: #393737;
		font-size: 0;
	}

	.l_surePayment h3 {
		line-height: .75rem;
		height: .75rem;
		border-bottom: 1px dashed #D2D2D2;
		font-size: .3rem;
	}
	.l_successMsg h3 img {
		margin-top: -3px;
		width: .54rem;
		margin-right: 10px;
	}
	.l_successMsg {
		width: 90%;
		margin: .20rem auto;
		border: 1px solid #DBDBDB;
	}
	.l_successMsg h3 {
		text-align: center;
		font-size: .32rem;
		color: #050303;
		padding: .25rem 0;
	}
	.l_successMsg p {
		text-align: center;
		font-size: .30rem;
		padding: .15rem 0;
	}
	.l_successMsg p a {
		display: inline-block;
		width: 2.60rem;
		height: .70rem;
		line-height: .70rem;
		border-radius: 5px;
		background: #1B8ACF;
		color: #FFFFFF;
		font-size: .26rem;
		text-align: center;
		vertical-align: middle;
		margin-top: -3px;
	}
	.l_nextTip {
		display: block;
		text-align: center;
		font-size: .26rem;
		color: #262626;
		padding: .25rem 0;
	}
	.footer p span {
		margin: 5px .15rem;
	}
	.footer p {
		text-align: center;
		font-size: .26rem;
		color: #888888;
		line-height: .30rem;
		padding-bottom: 10px;
	}
	.footer p span:nth-child(2){
		display: block;
	}


   /*完善个人信息页面*/
	.l_perMsg_Div {
		width: 91%;
		margin: .25rem auto 0;
		border: 1px solid #EEEEEE;
		font-size: 0;
	}
	.l_perMsg_Div>div {
		background: #F8FBFC;
	}
	.l_perMsg_Div div.l_halfDiv {
		width: 100%;
		display: inline-block;
	}
	.l_perMsg_Div>div>span, .l_perMsg_Div div.l_halfDiv>span {
		display: inline-block;
		width: 44%;
		line-height: .50rem;
		font-size: .26rem;
		padding-right: 40px;
		text-align: right;
		vertical-align: middle;
	}
	.l_perMsg_Div div.l_halfDiv:nth-of-type(2n+1) {
		border-right: 1px solid #EEEEEE;
		border-bottom: 1px solid #eee;
	}
	.l_fileBlank font {
		font-size: .26rem;
	}
	.l_fileBlank label {
		margin-right: 18px;
		font-size: .26rem;
		display: inline-block;
	}
	.l_fileBlank select {
		height: 30px;
		line-height: 28px;
		border-radius: 4px;
		background: #F7F7F7;
		border: 1px solid #E5E5E5;
		vertical-align: top;
		font-size: .26rem;
		margin-right: 7px;
		font-family: "微软雅黑";
		margin-bottom: 10px;
		width: 92%;
	}
	.l_msgTip {
		display: block;
		font-size: .26rem;
		color: #999999;
		padding-top: 15px;
	}
	.l_width214 {
		width: 90%;
	}
	.l_fileBlank {
		display: inline-block;
		width: 56%;
		padding: 11px 0 11px 15px;
		background: #fff;
		vertical-align: middle;
		line-height: 24px;
		border-left: 1px solid #EEEEEE;
		font-size: 0;
		position: relative;
	}
	.l_width490 {
		width: 100%;
	}
	.l_fileBlank input[type=text] {
		height: 30px;
		line-height: 28px;
		border-radius: 4px;
		background: #F7F7F7;
		border: 1px solid #E5E5E5;
		font-size: .26rem;
		vertical-align: top;
	}
	.l_width117 {
		width: 92%;
		margin-bottom: 10px;
	}
	.l_changeContact,.l_changeEmail{
		right: .14rem!important;
		left: initial;
		font-size: .26rem;
	}
	.l_activity_h3 {
		width: 91%;
		margin: 0 auto;
		line-height: 60px;
		padding-left: 30px;
		border-left: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
		font-size: .26rem;
		color: #000000;
	}
	.l_activity_ul {
		width: 91%;
		margin: 0 auto;
		border: 1px solid #E6E6E6;
	}
	.l_activity_ul li {
		float: left;
		width: 45%;
		padding-left: .20rem;
		border-bottom: 1px solid #EEEEEE;
		border-right: 1px solid #EEEEEE;
		padding: .13rem 0 .13rem .20rem;
		font-size: .26rem;
	}
	.l_activity_ul li:nth-child(2n+1){
		width: 55%;
	}
	.l_activity_ul li input[type=checkbox] {
		margin-right: .1rem;
	}
	.l_btns a {
		display: inline-block;
		min-width: 120px;
		height: 41px;
		line-height: 41px;
		border-radius: 3px;
		background: #2481D4;
		font-size: .26rem;
		color: #FFFFFF;
		text-align: center;
		margin: 0 20px;
	}
	.l_memberRight{
		width: 96%;
	}
	.l_member_ul{
		width: 93%;
	}
	.l_member_ul li{
		font-size: .3rem;
	}
	.l_memberCont table{
		width: 100%;
	}
	/*reg_pay_edit_success*/
	.l_logintip {
		float: initial;
		margin-top: 0rem;
		margin-bottom: .1rem;
		line-height: normal;
		display: block;
		text-align: right;
		font-size: .26rem;
		color: #000000;
	}
	.middle_top {
		width: 100%;
		height: 1.35rem;
		line-height: 1.50rem;
		margin: 0 auto;
		font-size: .30rem;
		color: #393737;
		font-weight: bold;
	}
	.middle_top img {
		margin-right: 15px;
		margin-top: -5px;
		width: .51rem;
	}
	.middle_top>span{
		display: inline-block;
		line-height: .4rem;
		max-width: 82%;
		vertical-align: middle;
	}
	.middle_middle {
		width: 100%;
		line-height: 50px;
		margin: 0 auto;
		font-size: .28rem;
		color: #333;
	}
	.suggest {
		margin-left: .90rem;
	}
	.middle_bottom {
		width: 100%;
		display: inline-block;
		padding-left: .50rem;
	}
	.middle_bottom li >span{
		max-width: 80%;
		line-height: .4rem;
		vertical-align: middle;
		display: inline-block;
	}
/*	reg_pay*/
	.l_paymentDiv {
		width: 92%;
		margin: 22px auto 0;
		background: #F8FBFC;
		font-size: 0;
		border: 1px solid #EEEEEE;
		border-bottom: none;
	}
	.l_payment>span {
		display: inline-block;
		vertical-align: middle;
		width: 35%;
		font-size: .26rem;
		color: #666666;
		min-height: 50px;
		padding: 15px 0 14px;
		text-align: center;
	}
	.l_payment>div {
		display: inline-block;
		vertical-align: middle;
		width: 65%;
		min-height: 50px;
		line-height: 50px;
		background: #FFFFFF;
		border-left: 1px solid #EEEEEE;
		font-size: .26rem;
		color: #666666;
	}
	.l_peymentTip {
		color: #A3A3A3;
		margin-left: 20px;
		line-height: .4rem;
		display: inline-block;
	}
	.l_marleft37 {
		margin-left: .37rem;
	}
	.l_leaveMsg {
		width: 86%;
		height: 100%;
		line-height: .4rem;
		border-radius: 3px;
		border: 1px solid #E0E2E9;
		background: #F8FBFC;
		margin-top: 15px;
		margin-left: .2rem;
		font-size: .26rem;
		font-family: "微软雅黑";
	}
	#SD_body, #SD_body div, #SD_body p, #SD_body td {
		color: #000000;
		font-size: .3rem;
	}
	.l_payment>div label {
		margin-left: 17px;
		color: #333333;
		display: inline-block;
	}

	/*注册*/
	.joinTip {
		margin: 0 25px;
		line-height: .56rem;
		font-size: 16px;
		color: #999999;
		border-bottom: 1px dashed #E3E3E3;
		padding-left: 0px;
		padding-top: .3rem;
		padding-bottom: .3rem;
	}
	.regist_left {
		float: initial;
		width: 94%;
		padding:0px;
		margin: 0 auto;
	}
	.l_registCont>span {
		float: left;
		/* width: 23%; */
		/* width:27%; */
		width:92px;
		text-align: right;
		padding-right: 10px;
		line-height: 37px;
		font-size: .26rem;
		height: 37px;
	}
	.width322 {
		width: 4.82rem;
	}
	.l_registBlank label {
		/* margin-right: .22rem; */
		margin-right:0.1rem;
		font-size: .26rem;
	}
	.l_protocol {
		line-height: 37px;
		font-size: .26rem;
	}
	.l_link {
		font-size: 14px;
		color: #0374BF;
		text-decoration: underline;
		display: inline-block;
		margin-left: 5px;
		line-height: normal;
		 margin-top: 0px;
	}
	.width167 {
		width: 1.67rem;
	}
	.l_phoneBegin+input {
		padding-left: 70px;
		/* width: 3.62rem; */
		width: 4.8rem;
	}
	.l_registBlank{
		width:calc(100% - 100px);
	}
	.l_phonehide{
		display:none;
	}
	.l_phonewidth100{
		width:100%;
	}
	.l_code,.l_getCode{
		width:130px;
	}
	.l_registBlank label input{
		margin-right:1px;
	}
}


/** 单位 **/
.stepDiv {
	padding: .98rem 0 .9rem;
	font-size: 0;
	text-align: center;
}

.dwstep {
	display: inline-block;
	width: 1.71rem;
	vertical-align: top;
}

.step-border {
	width: 100%;
	height: 1.71rem;
	margin: 0 auto;
	border-radius: 50%;
	background: url(../../group/images/step-bg.png) no-repeat center;
	padding: .07rem;
}

.step-circle {
	height: 100%;
	border-radius: 50%;
    background-image: linear-gradient(to right top, #0062cc, #0c5192);
}

.dwstep1 .step-icon {
	display: block;
	height: 100%;
	border-radius: 50%;
	background: url(../../group/images/step1.png) no-repeat center;
	background-size: .6rem auto;
}

.step2 .step-icon {
	display: block;
	height: 100%;
	border-radius: 50%;
	background: url(../../group/images/step2.png) no-repeat center;
	background-size: .52rem auto;
}

.step3 .step-icon {
	display: block;
	height: 100%;
	border-radius: 50%;
	background: url(../../group/images/step3.png) no-repeat center;
	background-size: .62rem auto;
}

.step4 .step-icon {
	display: block;
	height: 100%;
	border-radius: 50%;
	background: url(../../group/images/step4.png) no-repeat center;
	background-size: .64rem auto;
}
.dwstep {
	display: inline-block;
	width: 1.31rem;
	vertical-align: top;
}
.dwstep p {
	font-size: .32rem;
	line-height: .38rem;
	text-align: center;
	color: #666666;
	padding: .28rem 0 0;
	margin: 0 -.3rem;
}
.dwstep1 .step-icon {
	display: block;
	height: 100%;
	border-radius: 50%;
	background: url(../../group/images/step1.png) no-repeat center;
	background-size: .6rem auto;
}
.dwstep1.active .step-icon {
	background: #00CD00 url(../../group/images/step1-active.png) no-repeat center;
	background-size: .6rem auto;
}

.step2.active .step-icon {
	background: #00CD00 url(../../group/images/step2-active.png) no-repeat center;
	background-size: .6rem auto;
}

.step3.active .step-icon {
	background: #00CD00 url(../../group/images/step3-active.png) no-repeat center;
	background-size: .6rem auto;
}

.step4.active .step-icon {
	background: #00CD00 url(../../group/images/step4-active.png) no-repeat center;
	background-size: .74rem auto;
}

.step4.active {
	width: 1.92rem;
	margin-top: -.2rem;
}

.step4.active .step-border {
	height: 1.92rem;
}

.step4.active p {
	font-size: .41rem;
}

.step p {
	font-size: .32rem;
	line-height: .38rem;
	text-align: center;
	color: #666666;
	padding: .28rem 0 0;
	margin: 0 -.3rem;
}

.step.active p {
	color: #007CC9;
}

.step-arrow {
	margin: .66rem .26rem 0;
	width: .44rem;
	vertical-align: top;
}
/*公司会员*/
.step-bg {
	background: url(../../group/images/stepdiv-bg.png) no-repeat bottom center;
	background-size: 100% auto;
	padding: 0 0 .46rem;
}
.title{
	text-align: center;
	color: #FFFFFF;
	font-size: .48rem;
	padding: .3rem 0 .6rem;
}
.step-bg p {
	color: #FFFFFF;
}

.step-bg .step.active p {
	color: #FFFFFF;
}
.login_tip{
	text-align:center;
	margin-top:25px;
	display:flex;
	align-items: center;
}
.login_tip a{

	text-align: center;
	line-height: 28px;
	position: relative;
	padding:0 10px
}
.login_tip i{
	display:block;
	height:1px;
	background:#E8E8E8;
	flex:1 1;
}